/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
    overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
 font-family: 'Roboto', serif;
}
.title {
  font-family: 'Roboto Slab', serif;
}

   .divider {
     border-bottom: 5px solid rgba(255, 255, 255, 0.75);
     position: absolute;
     padding: 0 5rem;
   }
   .divider-2 {
     border-bottom: 5px solid rgba(163, 243, 82, 0.75);
     padding: 0 6rem;
     position: absolute;
   }

   #center-row {
     display: flex;
     justify-content: center;
   }
   #center-column {
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .btn {
     margin: 2rem 0;
   }

   #map {
     height: 40rem;
   }

/* .banner-image {
  background-image: url('../img/banner.jpg');
  background-size: 100% cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 30rem;

  color: white;
  display: flex;
  align-items: center;
} */
/*Navigation Bar_______________________________________________________*/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  background-color: rgba(255,255,255,0.98);
  border-bottom: 1px solid black;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;


}

#navbar #navbar-logo {
  font-size: 2rem;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}
#navbar ul li {
  margin-right: 1rem;
  transition: all 0.2s ease-in;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#navbar ul li i {
  font-size: 1.5rem;
  display: none;
}
#navbar ul li:hover {
  color: purple;
}
#navbar a {
  text-decoration: none;
  color: inherit;
}
#navbar ul li.active {
  background-color: rgba(100, 100, 100, 0.15);
}

#all {
  position: relative;
  top: 5rem;
}

@media only screen and (max-width: 1100px) {
  #navbar {
    padding-left: 1rem;
    padding-right: 0;
  }
}

@media only screen and (max-width: 950px) {
  #navbar ul li:first-child, #navbar ul li:nth-last-child(2) {
    display: none;
  }
  #navbar ul li i {
    display: block;
    margin-bottom: 0.4rem;
  }
  #navbar ul li a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 700px) {
  #navbar {
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    height: 9rem;
    padding: 0rem;
  }
  #all {
    top: 9rem;
  }
  #navbar #navbar-logo {
    margin-bottom: 0.6rem;
  }
  #navbar #navbar-pages {
    position: relative;
  }
  #navbar #navbar-pages:before {
  content : "";
  position: absolute;
  top: -0.6rem;
  left: 0;
  right: 0;
  height  : 1px;
  width   : 60%;  /* or 100px */
  background-image:  linear-gradient(to right, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0.5) 50%, rgba(255,255,255,0.5) 100%);
  margin: auto;
  }
}

/*Banner Carousel_____________________________________________________*/
.banner-text {
  margin-left: 10rem;
  color: white;

  position: absolute;
  top: 2.5rem;
}

.banner-text h1 {
  font-size: 3.5rem;
}
.banner-text h3 {
  font-size: 2rem;
}

#banner-carousel {
  transform: translate3d(0, 0, 0);
  margin-bottom: 2rem;
  font-family: 'Roboto Slab', serif;
}
#banner-carousel .carousel-inner {
  position: relative;
  height: 35rem;
}
#banner-carousel.fade {
  opacity: 1;
}
#banner-carousel .carousel-item {
  transition: opacity 0.35s ease-in;
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: inherit;
  display: block;
}
#banner-carousel .carousel-item:first-child {
  top: auto;
  /* opacity: 1; /* show first slide */
  position: relative;
}
#banner-carousel .carousel-item.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

#banner-image-1 {
  background: url('../img/chris-greenhow-662446-unsplash.jpg') scroll no-repeat;
}
#banner-image-2 {
  background: url('../img/jaanus-jagomagi-393163-unsplash.jpg') scroll no-repeat;
}
#banner-image-3 {
  background: url('../img/christopher-burns-497236-unsplash.jpg') scroll no-repeat;
}
#banner-image-1, #banner-image-2, #banner-image-3 {
  background-size: cover;
  filter: brightness(0.9);
  height: inherit;
}

/* FIXME:  */
@media only screen and (max-width: 1024px) {
  .banner-text h1 {
    font-size: 2rem;
  }
  .banner-text h3 {
    font-size: 1.2rem
  }
  .banner-text {
    margin-left: 3rem;
    top: 2.5rem;
  }
}

/*Features_______________________________________________________________________*/

h3.service-title {
  margin-top: 1.5rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 7rem;
  grid-column-gap: 3rem;
  margin-top: 4rem;
}

.feature {
  display: grid;
  justify-items: center;
  align-content: start;

  transition: all 0.2s ease-in;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.feature:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.4);
}

.feature .service-text h4 {
  font-size: 1.4rem;
}
.feature .service-text p {
  font-size: 1.1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
  width: 5rem;
  font-size: 2rem;
  bottom: 2.5rem;
  margin-bottom: -2rem;

  background-color: #027F00;
  color: white;

  position: relative;

  transition: all 0.2s linear;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.icon:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
  .features-grid {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 5.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .features-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
  }
}

/*______________________________________________________*/
.sub-banner {
  display: flex;
  justify-content: space-between;

  background-color: lightblue;
  margin: 3rem 0;
}
.sub-banner .sub-left {
  margin: 2rem;
  flex: 2 1 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "top top"
                        "bottom-left bottom-right";
  grid-column-gap: 4rem;
  grid-row-gap: 2rem;
}

.sub-banner #top-about {
  grid-area: top;
}
.sub-banner #bottom-left-about {
  grid-area: bottom-left;
}
.sub-banner #bottom-right-about {
  grid-area: bottom-right;
}

.sub-banner #top-about .divider-2 {
  padding: 0 2rem;
  border-bottom: 1px solid rgba(0, 0, 255, 0.5);
}
.sub-banner #bottom-left-about, .sub-banner #bottom-right-about {
  display: flex;
}
.sub-banner .sub-left i, .sub-banner .sub-right i {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: darkgreen;
}

#top-about h3 {
  margin-bottom: 1rem;
}
#top-about p {
  margin-top: 3rem;
}
#bottom-left-about i {
  display: block;
}

.sub-banner .sub-right {
  flex: 1 0 200px;
  background: url("../img/dylan-gillis-533818-unsplash.jpg") scroll no-repeat;
  background-size: cover;
  background-position: 50% 20%;

}
.sub-left blockquote {
  float: right;
  font-weight: bold;
}

@media only screen and (max-Width: 1024px) {
  .sub-banner {
    flex-direction: column;
  }
  .sub-banner .sub-right {
    background-position: 50% 40%;
  }

  .sub-banner .sub-left {
    margin: 2rem 0;
    grid-column-gap: 6%;
    grid-template-columns: 47% 47%;
  }
  .sub-banner .sub-left i {
    margin: 0;
    padding: 0.5rem;
  }
  .sub-left h4 {
    font-size: 1.2rem;
  }
}

/*________________________________________________________________________Services*/

.services {
  display: grid;
  grid-row-gap: 60px;
  grid-column-gap: 60px;
  grid-template-areas: "card card"
                        "card card";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

  width: 70%;
  margin: auto;

  will-change: opacity, transform, scroll-position;

}

.services-title {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.2;

  display: flex;
  justify-content: center;
  text-align: center;
}

.cards {
  grid-area: "card";

  border-radius: 4px;
  box-shadow: 0px 2px 6px 1px rgba(0,0,0, 0.3);
  height: 200px;
  width: 100%;

  display: flex;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  will-change: opacity, transform, scroll-position;
}
.cards:hover {
  box-shadow: 0px 3px 9px 2px rgba(0,0,0, 0.25);
}

.cards .service-image {
  min-width: 30%;
  border-right: 3px solid grey;
  margin-right: 1rem;

  background: url('../img/jeppe-hove-jensen-762713-unsplash.jpg') scroll no-repeat;
  background-size: cover;
  z-index: -10;
}

.cards h1 {
  font-size: 1rem;
}
.cards p {
  font-size: 0.8rem;
}
.cards button {
  float: right;
  margin-right: 2rem;
  padding: 0.4rem;
  font-size: 1rem;

  border-radius: 6px;
  border: 2px solid #bdbdbd;

  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.7);
  background-color: #b0bec5;
}
.cards button:hover {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
}
.cards button:active {
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-Width: 1024px) {
  .services {
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    grid-template-areas: "card";
  }
  .cards {
    height: 260px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .cards .service-image {
    width: 100%;
    min-height: 20%;
    border: 0;
    border-top: 3px solid grey;
    margin: 0;
    margin-top: 1.5rem;

    background-attachment: fixed;
    background-position-y: 40%;
  }
}

@media only screen and (max-Width: 768px) {
    .services {
      width: 88%;
    }
}
/*_______________________________________________________________________________Testimonials*/

#testimonials-bigTitle {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
}
#testimonials-bigTitle .divider-2 {
  top: 0.5rem;
}

.container#testi {
  /* background-image: url('https://images.pexels.com/photos/380768/pexels-photo-380768.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  will-change: auto;
}
.container#testi::before {
  content: '';
  display: block;
  left: 0;
  background-image: url('../img/benjamin-child-90768-unsplash.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  filter: brightness(0.6);
  width: 100%;
  height: 100%;


  transform: translateZ(0);
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.testimonials img {
  max-width: 100%;
}

.bubble {
position: relative;
display: flex;

width: 50%;
height: 200px;

border-radius: 22px;
padding: 20px;
margin-bottom: 2rem;
margin-top: 2rem;

background: #FFFFFF;
border: #7F7F7F solid 4px;
}

.bubble:after {
content: '';
position: absolute;
border-style: solid;
border-width: 26px 40px 26px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -26px;
left: -40px;
top: 50%;
}

.bubble:before {
content: '';
position: absolute;
border-style: solid;
border-width: 29px 43px 29px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -29px;
left: -47px;
top: 50%;
}

.bubble:nth-child(2n) {
  margin-left: auto;
  margin-right: 10rem;
  flex-direction: row-reverse;
}
.bubble:nth-child(2n-1) {
  margin-right: auto;
  margin-left: 10rem;
}
.bubble:nth-child(2n):after {
  right: -40px;
  left: auto;
  border-width: 26px 0 26px 40px;
}
.bubble:nth-child(2n):before {
  right: -47px;
  left: auto;
  border-width: 29px 0 29px 43px;
}
.bubble:nth-child(2n) .bubbleImage {
  right: -10rem;
  /* margin-right: 5rem; */
}
.bubble:nth-child(2n-1) .bubbleImage {
  left: -10rem;
  /* margin-left: 5rem; */
}
.bubble:nth-child(2n) .testi-name {
  align-self: flex-start;
}
.bubble:nth-child(2n) .testi-company {
  align-self: flex-start;
}

.bubbleImage {
  position: absolute;
  align-self: center;
  width: 100px;
  height: 100px;
}

#testimonial-image-1 {
  background: url("../img/humphrey-muleba-795250-unsplash.jpg") scroll no-repeat;
}
#testimonial-image-2 {
  background: url("../img/alexis-chloe-760833-unsplash.jpg") scroll no-repeat;
  background-position: 50% 50%;
}
#testimonial-image-3 {
  background: url("../img/roberto-delgado-webb-722756-unsplash.jpg") scroll no-repeat;
  background-position: 50% 20%;
}
#testimonial-image-1, #testimonial-image-2, #testimonial-image-3 {
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

.bubble .quote {
  color: hsla(0, 0%, 46%, 0.5);
}
.bubble .full-testi {
  display: flex;
  flex-direction: column;
}
.bubble .testi-text {
  margin-left: 3rem;
  font-size: 0.8rem;
}
.bubble .testi-name {
  align-self: flex-end;

  padding-right: 20px;
  margin: 0 0 4px;
  border-right: 3px solid grey;

  font-weight: bold;
}
.bubble .testi-company {
  align-self: flex-end;

  padding-right: 20px;
  color: grey;
}

#testimonial-carousel-container .carousel {
  background: url('../img/benjamin-child-90768-unsplash.jpg') fixed no-repeat;
  background-size: cover;
}
.carousel-control-prev:before, .carousel-control-next:before {
  content: '';
  display: block;
  width:150%;
  height: 150%;
  position: absolute;

  background: url('../img/benjamin-child-90768-unsplash.jpg') fixed no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.2);
  filter: blur(5px) brightness(1.1);
}
.carousel-control-prev, .carousel-control-next {
  width: 10%;
  overflow: hidden;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#333333' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  background-color: rgb(255, 255, 255);
  filter: hue-rotate(90deg);
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#333333' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  background-color: rgb(255, 255, 255);
  filter: hue-rotate(90deg);
}
#testimonial-carousel-container .carousel .bubble {
  margin-left: 30%;
}

@media only screen and (max-width: 1024px) {
  #testi {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  #testimonial-carousel-container {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #testimonial-carousel-container .carousel {
    height: 30rem;
  }
  .bubble {
    height: 20rem;
  }
  .bubble .testi-text {
    margin-left: 1rem;
  }
}

/*Get Started_________________________________________________________________________*/
.get-started {
  padding: 0;
}
.get-started ul {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: teal;
  margin: 4rem 0;
}

.get-started ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;

  margin: 1rem 0;
}

.get-started li:first-child {
  flex: 4 1 320px;
  margin-right: 8%;
  color: white;
}
.get-started li:nth-child(2) {
  flex: 1 1 80px;
  margin-right: 3rem;
}

.get-started button {
  padding: 1rem 2rem;
  border-radius: 6px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: #b0bec5;
  border: 0px;

  transition: background-color 0.2s ease-in;
}

.get-started button:hover {
  background-color: rgba(0,0,0,0.7);
  color: white;
}

@media only screen and (max-width: 768px) {
  .get-started .title {
    font-size: 0.5rem;
  }
  .get-started button {
    padding: 0.8rem;
  }
  .get-started li:nth-child(2) {
    margin-right: 1rem;
  }
}

/*Partners____________________________________________________________________________*/
.container.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#partners .divider-2 {
  top: -1rem;
}
#partners .partners-title {
  margin-bottom: 2rem;
}

.partners {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2% 2%;

  align-items: center;
  justify-items: center;

  margin-bottom: 2rem;
}

.partners object {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .partners {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}
/*Footer Social Buttons____________________________________________________________________________*/


.social-items {
  display: flex;
  justify-content: center;
}
.social-items .social-item {
  margin-right: 1.5rem;
}

.social-items a {
  margin-bottom: 2rem;
}

.social-items p {
  margin-top: 0.5rem;
  font-weight: bold;
}

.social-button {
  width: 4.5rem;
  height: 4.5rem;
  border: 2px solid #ccccb3;
  color: white;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.15s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.social-button#whatsapp {
  background-color: #34AF23;
  font-size: 2.5rem;
}
.social-button#email {
  background-color: #c71610;
  font-size: 2rem;
}

.social-button#phone {
  background-color: #FF3300;
  font-size: 2.2rem;
}
/*______________________________________________________________________Contact Page */

.contact {
  background-color: #605293;
  color: white;
  padding: 5rem 0;
}

.contact input, .contact textarea {
  background-color: #978cbd;
}

.contact input::placeholder, .contact textarea::placeholder {
  color: rgba(255,255,255,0.8);
}

.required-star {
  color: orange;
  font-size: 3rem;
  vertical-align: middle;
}

footer.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fff6cc;
}

footer h5 {
  width: 100%;
}

#submit-button {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
}

#submit-button:active {
  box-shadow: 0 3px 5px rgba(0,0,0,.125);
}

.office-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offices {
  background-color: #754b8f;
  padding: 6rem 0;
  color: white;
}

img.london {
  width: 18rem;
  height: 18rem;
  border: 6px solid white;
  object-fit: cover;
}

h6.office-address {
  width: 28rem;
  text-transform:capitalize;
}

.social {
  text-align: center;
  border: 1px solid red;
  padding: 4rem 0;
  background-color: #d5c26a;
}

.social .social-buttons {
  margin-top: 4rem;
}

.social i {
  font-size: 5rem;
  margin: 0 3rem;
}

.social i.fa-twitter {
  color: #00aced;
}

.social i.fa-google-plus {
  color: #DF4B37;
}

.social i.fa-facebook {
  color: #3b5998;
}

.social i.fa-facebook:active, .social i.fa-google-plus:active
, .social i.fa-twitter:active {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
