footer {
  display: flex !important;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.footer-container {
  padding: 6rem 0 5rem 0;
  background: rgba(60,60,60,0.9);
  color: white;
}

footer a, footer a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

footer .links:not(:last-child) {
  margin-right: 5rem;
}
footer .links {
  flex: 1 1 100px;
  text-align: center;
}
footer #footer-logo {
  margin-bottom: 1rem;
  width: 50px;
}

footer .links:first-child {
  flex: 2 1 200px;
  text-align: left;
}

footer .links#product-links ul li:not(:first-child) {
  margin-bottom: 0.8rem;
}

footer li {
  list-style-type: none;
}
footer ul {
  padding: 0;
}

footer ul li:first-child {
  border-bottom: 2px solid #D0D0D0;
  font-size: 1.5rem;
  font-weight: bold;

  margin-bottom: 2rem;
  transition: padding 0.2s ease-in-out;
}

footer ul li:first-child:hover {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 1400px) {
  footer .links:not(:last-child) {
    margin-right: 0;
  }
  footer {
    width: 95%;
  }
}

#mapPin {
  font-size: 1.5rem;
  color: blue;
}


#footer-address {
  display: flex;
  justify-content: center;

  margin-bottom: 1rem;
}
#footer-address p {
  margin: 0;
  line-height: 1.3;
}
#footer-address i {
  margin-right: 1rem;
}
#footer-address-button {
  color: white;
  background-color: rgb(98, 0, 238);

  text-decoration: none;
  padding: 0.4rem;
  width: 110%;
  border-radius: 5px;
  margin-right: 0.5rem;

  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;


}
#footer-address-button i {
  margin-right: 0.25rem;
}

#footer-address-button:hover {
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.4);
  background-color: rgba(98, 0, 238, 0.8);
}
#footer-address-button:active {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: rgba(98, 0, 238, 0.6);
}

@media only screen and (max-width: 1200px) {
  .footer-container {
    padding: 4rem 0 3rem 0;
  }
  footer {
    flex-direction: column;
  }
  footer #company-links {
    order: 0;
  }
  footer #social-links {
    order: 1;
  }
  footer #address-links {
    order: 2;
  }
  footer #product-links {
    order: 3;
  }
  #footer-address-button {
    width: 50%;
    margin: auto;
  }
  footer div.links:first-child {
    text-align: center;
    flex: initial;
  }
  footer ul li:first-child {
    border-top: 2px solid #D0D0D0;
    border-bottom: none;
  }
}
